name: Release

# Controls when the workflow will run
on:
  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:
    inputs:
      ref:
        description: "Enter a gvfsbuild tag or commit to release"
        default: ""

jobs:
  build:
    runs-on: windows-2019
    strategy:
      matrix:
        python: ["3.9", "3.10"]
        platform: [x64, win32]
        vstudio: [16]
        include:
          - platform: x64
            arch: x64
          - platform: win32
            arch: x86

    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v3
        with:
          repository: wingtk/gvsbuild
          fetch-depth: 0
          ref: ${{ github.event.inputs.ref }}

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python }}
          architecture: ${{ matrix.arch }}
          cache: 'poetry'

      - name: Install Build Deps
        run: python -m pip install wheel build

      - name: Install Poetry
        run: python -m pip install poetry==1.1.13
      - name: Configure Poetry
        run: poetry config virtualenvs.in-project true
      - name: Install Python Dependencies
        run: poetry install

      - name: Move git binary
        # Temporarily move preinstalled git to prevent errors related to cygwin.
        run: Rename-Item "C:\Program Files\Git\usr\bin" notbin

      - name: Build
        run: >
          poetry run gvsbuild build
          --platform=${{ matrix.arch }}
          --vs-ver=${{ matrix.vstudio }}
          --same-python
          --enable-gi
          --py-wheel
          --skip gtksourceview4,emeus,clutter
          gtk3-full pycairo pygobject lz4 enchant

      - name: Restore git binary
        run: Rename-Item  "C:\Program Files\Git\usr\notbin" bin

      - name: Zip Bundle
        run: >
          7z a
          ${{ github.workspace }}/${{ env.release_name }}.zip
          "C:\gtk-build\gtk\${{matrix.platform}}\release"
        env:
          release_name: "gvsbuild-py${{ matrix.python }}-vs${{ matrix.vstudio }}-${{ matrix.arch }}"

      - name: Current Date
        id: date
        run: echo "::set-output name=date::$(date +'%Y-%m-%d')"

      - name: Release
        uses: softprops/action-gh-release@v1
        with:
          name: latest
          tag_name: latest
          body: gvsbuild-${{ steps.date.outputs.date }}
          files: "*.zip"
